extends layout

block content
    h1 #{title}

    form(method='POST', action='/articles')
        #form-group 
            label title:
            input.form-control(name='title', type='text')
        #form-group 
            label author:
            textarea.form-control(name='body')
        input.btn.btn-primary(type='submit', value='submit')